<section class="posts row">
    {{#blogs}}
        <div class="post-item">
            <div>
                <h3><a href="#/blog/{{_id}}">{{title}}</a></h3>
            </div>
            <div class="post-box">
                <a href="#.blog/{{_id}}"><img class="post-image image-responsive" src="{{image}}" alt="{{title}}"></a>
            </div>
        </div>
    {{/blogs}}
</section>