<a href="#">Home</a> > <a href="#">{{this.category}}</a> > <a href="#">{{this.title}}</a>
<section class="posts">
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">{{title}}</h1>
            <h3 class="text-center">Posted by {{postedBy}} on {{postedOn}} in {{category}}</h3>
        </div>
    </div>
    <div class="post-page row">
        <div class="col-md-9">
            <div class="text-justify">
                <span>Posted by <strong>{{postedBy}}</strong> on <strong>{{postedOn}}</strong> | {{comments.length}} Comments</span>
            </div>
            <div class="post-article row">
                <div class="box col-md-6">
                    <img class="post-image image-responsive" src="{{image}}" alt="{{title}}">
                </div>
                <div class="article col-md-6">{{article}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>From the Blog</h3>
            <ul>
                <li><a href="#">HTC Desire 5 Review</a></li>
                <li><a href="#">Iphone 8 Review</a></li>
                <li><a href="#">Sony Xperia Z5 Review</a></li>
                <li><a href="#">Samsung Galaxy S8 Review</a></li>
                <li><a href="#">Nokia 3380 Review</a></li>
            </ul>
            <h3>Archives</h3>
            <ul>
                <li><a href="#">Some thing</a></li>
                <li><a href="#">Some thing</a></li>
                <li><a href="#">Some thing</a></li>
                <li><a href="#">Some thing</a></li>
                <li><a href="#">Some thing</a></li>
            </ul>
            <h3>Recent Posts</h3>
            <ul>
                <li><a href="#">Choose a thing</a></li>
                <li><a href="#">Choose a thing</a></li>
                <li><a href="#">Choose a thing</a></li>
                <li><a href="#">Choose a thing</a></li>
                <li><a href="#">Choose a thing</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe width="760" height="515" src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>

        </div>
    </div>
    <h1>{{comments.length}} Comments</h1>
    {{#comments}}
    <div class="comment-box row">
        <div class="comments-image-box col-md-2">
            <img class="post-image image-responsive" src="{{image}}" alt="">
        </div>
        <div class="col-md-10">
            <h4>{{postedBy}} {{postedOn}}</h4>
            <div class="comments-content">
                <span>
                    {{content}}
                </span>
            </div>
        </div>
    </div>
    </div>
    {{/comments}}
    <h1>Leave a Reply</h1>
    <form id="leave-reply">
        <div class="form-group">
            <input type="text" id="leave-reply-email" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <input type="text" id="leave-reply-email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea name="leave-reply" placeholder="Leave a reply" id="leave-reply-text" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" id="leave-reply-submit" class="btn btn-primary">Send</button>
    </form>
</section>